#include "splitcore.dtsi"

&default_transform { // Offset of 8 because the left side has 8 columns
    col-offset = <6>;
};

/ {

    kscan0: kscan_composite {
        // matrix driver
        matrix {
            kscan = <&kscan1>;
        };
        // direct GPIO driver for RKJXT1F42001 buttons
        direct_right {
            kscan = <&kscan2>;
            row-offset = <5>;
        };
    };

    kscan1: kscan1 {
        status = "okay";

        col-gpios
            = <&shifter 0   (GPIO_ACTIVE_HIGH)>
            , <&shifter 1   (GPIO_ACTIVE_HIGH)>
            , <&shifter 2   (GPIO_ACTIVE_HIGH)>
            , <&shifter 3   (GPIO_ACTIVE_HIGH)>
            , <&shifter 4   (GPIO_ACTIVE_HIGH)>
            , <&shifter 5   (GPIO_ACTIVE_HIGH)>
            , <&shifter 6   (GPIO_ACTIVE_HIGH)>
            , <&shifter 7   (GPIO_ACTIVE_HIGH)>
            ;
            
        row-gpios
            = <&gpio0 31    (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 29    (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 2     (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 15    (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    // RKJXT1F42001 buttons
    kscan2: kscan2 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        status = "okay";
        input-gpios
            = <&gpio0 24    (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 0     (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 11    (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 4     (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 6     (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};

nice_view_spi: &spi1 {
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
};
