#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  140       0     0     0>
            , <&key_physical_attrs 100 100  104  140       0     0     0>
            , <&key_physical_attrs 100 100  211   26       0     0     0>
            , <&key_physical_attrs 100 100  316    0       0     0     0>
            , <&key_physical_attrs 100 100  414   53       0     0     0>
            , <&key_physical_attrs 100 100  511   54       0     0     0>
            , <&key_physical_attrs 100 100 1245   54       0     0     0>
            , <&key_physical_attrs 100 100 1342   53       0     0     0>
            , <&key_physical_attrs 100 100 1440    0       0     0     0>
            , <&key_physical_attrs 100 100 1545   26       0     0     0>
            , <&key_physical_attrs 100 100 1651  140       0     0     0>
            , <&key_physical_attrs 100 100 1756  140       0     0     0>
            , <&key_physical_attrs 100 100    0  242       0     0     0>
            , <&key_physical_attrs 100 100  107  242       0     0     0>
            , <&key_physical_attrs 100 100  218  126       0     0     0>
            , <&key_physical_attrs 100 100  326  100       0     0     0>
            , <&key_physical_attrs 100 100  428  154       0     0     0>
            , <&key_physical_attrs 100 100  529  155       0     0     0>
            , <&key_physical_attrs 100 100 1227  155       0     0     0>
            , <&key_physical_attrs 100 100 1328  154       0     0     0>
            , <&key_physical_attrs 100 100 1430  100       0     0     0>
            , <&key_physical_attrs 100 100 1538  126       0     0     0>
            , <&key_physical_attrs 100 100 1649  242       0     0     0>
            , <&key_physical_attrs 100 100 1756  242       0     0     0>
            , <&key_physical_attrs 100 100    0  351       0     0     0>
            , <&key_physical_attrs 100 100  108  351       0     0     0>
            , <&key_physical_attrs 100 100  220  235       0     0     0>
            , <&key_physical_attrs 100 100  330  209       0     0     0>
            , <&key_physical_attrs 100 100  432  262       0     0     0>
            , <&key_physical_attrs 100 100  535  263       0     0     0>
            , <&key_physical_attrs 100 100 1221  263       0     0     0>
            , <&key_physical_attrs 100 100 1324  262       0     0     0>
            , <&key_physical_attrs 100 100 1426  209       0     0     0>
            , <&key_physical_attrs 100 100 1536  235       0     0     0>
            , <&key_physical_attrs 100 100 1648  351       0     0     0>
            , <&key_physical_attrs 100 100 1756  351       0     0     0>
            , <&key_physical_attrs 100 100    0  459       0     0     0>
            , <&key_physical_attrs 100 100  107  459       0     0     0>
            , <&key_physical_attrs 100 100  218  344       0     0     0>
            , <&key_physical_attrs 100 100  326  318       0     0     0>
            , <&key_physical_attrs 100 100  428  371       0     0     0>
            , <&key_physical_attrs 100 100  529  372       0     0     0>
            , <&key_physical_attrs 100 100 1227  372       0     0     0>
            , <&key_physical_attrs 100 100 1328  371       0     0     0>
            , <&key_physical_attrs 100 100 1430  318       0     0     0>
            , <&key_physical_attrs 100 100 1538  344       0     0     0>
            , <&key_physical_attrs 100 100 1649  459       0     0     0>
            , <&key_physical_attrs 100 100 1756  459       0     0     0>
            , <&key_physical_attrs 100 100  211  445       0     0     0>
            , <&key_physical_attrs 100 100  316  419       0     0     0>
            , <&key_physical_attrs 100 100 1440  419       0     0     0>
            , <&key_physical_attrs 100 100 1545  445       0     0     0>
            , <&key_physical_attrs 100 100  630  450    2500   680   497>
            , <&key_physical_attrs 100 100  735  485    2500   762   533>
            , <&key_physical_attrs 100 100 1020  475 (-2500)  1094   533>
            , <&key_physical_attrs 100 100 1125  435 (-2500)  1176   497>
            , <&key_physical_attrs 150 100  430  515 (-6500)   522   560>
            , <&key_physical_attrs 150 100  595  645 (-6500)   679   643>
            , <&key_physical_attrs 150 100 1100  540 (-11500)  1177   643>
            , <&key_physical_attrs 150 100 1250  500 (-11500)  1334   560>
            , <&key_physical_attrs 100 100  420  655    2500   468   676>
            , <&key_physical_attrs 100 100  525  690    2500   546   719>
            , <&key_physical_attrs 100 100  625  730    2500   625   762>
            , <&key_physical_attrs 100 100 1125  725 (-2500)  1231   762>
            , <&key_physical_attrs 100 100 1225  685 (-2500)  1310   719>
            , <&key_physical_attrs 100 100 1325  645 (-2500)  1388   676>
            , <&key_physical_attrs 100 100  600  900       0     0     0>
            , <&key_physical_attrs 100 100 1150  900       0     0     0>
            , <&key_physical_attrs 100 100  475 1025       0     0     0>
            , <&key_physical_attrs 100 100  725 1025       0     0     0>
            , <&key_physical_attrs 100 100 1025 1025       0     0     0>
            , <&key_physical_attrs 100 100 1150 1025       0     0     0>
            , <&key_physical_attrs 100 100 1275 1025       0     0     0>
            , <&key_physical_attrs 100 100  600 1150       0     0     0>
            , <&key_physical_attrs 100 100 1150 1150       0     0     0>
            ;
    };
};
